[Unit]
Description = Podman Container %N

[Container]
AutoUpdate = registry
Image = public.ecr.aws/docker/library/postgres:alpine

Environment = PGDATA=/var/lib/postgresql/data/data
Environment = POSTGRES_USER=bonjour
Environment = POSTGRES_PASSWORD=----POSTGRES_PASSWORD----

PublishPort = 30100:5432

Volume = database.volume:/var/lib/postgresql/data

[Service]
Restart = on-failure

[Install]
WantedBy = default.target
